.header {
  background: rgba(41, 95, 155, 0.95);
  padding: 20px;
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-bottom: 4px solid #e7b8b3;
}

.header h1 {
  margin: 0;
  font-size: 1.8rem;
  letter-spacing: 1px;
}
