.comunicaciones-caja {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 280px;
  background: #faf5ff;
  border-left: 5px solid #8a4baf;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.comunicaciones-caja h4 {
  margin-top: 0;
  color: #5a2ca0;
  text-align: center;
}

.mensaje-item {
  background: #ede7ff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.sin-mensajes {
  color: #777;
  font-style: italic;
}

.comunicaciones-form {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 300px;
  background: #eef2ff;
  border-left: 5px solid #4f46e5;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.comunicaciones-form textarea {
  width: 100%;
  height: 120px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.comunicaciones-form button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.comunicaciones-form button:hover {
  background: #4338ca;
}
.top-actions {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 25px;
}
