.conteiner-turno{
  font-family:'Poppins',sans-serif; background: #f7efe6; color: #233047;

}

.filtroTurno {
  margin: 10px 0;
  padding: 8px 12px;
  border: 4px solid #626edfff;
  border-radius: 12px;   /* bordes redondeados */
  background-color: #92bdd8ff;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.filtroTurno:hover {
  background-color: #92bdd8ff;
  color: white;
  border-radius: 14px;  /* más circular al pasar el mouse */
}

.tabla button {
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  background-color: #abafeeff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 5px;
}

.tabla button:hover {
  background-color: #484dc8ff;
  color: white;
  border-radius: 6px solid #040404ff;;
}